.menu-container{
    height: 40rem;
    width: 25rem;
    background-color: rgb(16, 16, 72);
    margin: 5rem auto auto;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: "top" "bottom";
    overflow: hidden;
}
.bars {
    grid-area: top;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
    z-index: 1;
}
.top {
    grid-area: top;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
    z-index: 1;
}
.bottom {
    grid-area: bottom;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    z-index: 1;
}
.menu-container {
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(16, 16, 72);
    background-image: url('../assets/background/baseBackGround.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    border-radius: 0;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: "top" "bottom";
    overflow: hidden;
}