.menu-container{
    height: 40rem;
    width: 25rem;
    background-color: rgb(16, 16, 72);
    margin: 5rem auto auto;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas: "top" "bottom";
    overflow: hidden;
}
.bars {
    height: 40rem;
    width: 5rem;
    background-color: rgba(93 , 93 ,211,0.4);
    position: relative;
    z-index: 0;
    transform: rotate(45deg);
    top: -45rem;
    left: 10rem;
}
.top {
    grid-area: top;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
    z-index: 1;
}
.bottom {
    grid-area: bottom;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    z-index: 1;
}